@import './variables';

.add-recipe-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 20px 0 20px;
  height: 926px;

  header {
    display: flex;
    gap: 260px;
    margin: 20px 0 0 0;
  }

    .home-btn {
    font-family: $main-font;
    font-size: 14px;
    color: $primary-color;
    transition: all 0.2s ease-in-out;
  }
   .home-btn:hover{
    opacity: 50%;
  }
  
   .add-recipe-btn {
    font-family: $main-font;
    font-size: 14px;
    color: $primary-color;
    transition: all 0.2s ease-in-out;
  }

   .add-recipe-btn:hover{
    opacity: 50%;
  }

  h1 {
    margin: 20px 0 0 0;
    font-size: 24px;
    font-family: $header-font;
  }

  h2{ 
     font-size: 14px;
    font-weight: 300;
  }

  form{
    display: flex;
    flex-direction: column;
  }

  label { 
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px 0;
  }

  textarea {
    background-color: $light-background-color;
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: 14px;
  }

  #description-input {
    height: 100px;
  }

  #instructions-input {
    height: 300px;
  }

  button {
    width: 388px;
    height: 40px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    transition: all 0.5s ease-in-out;
    color: $light-background-color;
    font-size: 14px;
    font-family: $main-font;
  }

  button:hover {
    background-color: $light-background-color;
    color: $primary-color;
   }

}