@import './variables';

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: $accent-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  h2 {
    font-size: 14px;
    font-weight: 400;
  }

  .col {
    display: flex;
    margin-left: 20px;
  }

  p {
    font-size: 12px;
  }

  a {
    color: $primary-color;
  }
}
