@import './variables';

.home-contents {
  display: flex;
  flex-direction: column;
  align-content: center;
  // width: 640px;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    border-bottom: 1px solid $primary-color;
    // padding-bottom: 40px;
  }

  h1 {
    font-family: $header-font;
    // text-transform: uppercase;
    font-size: 36px;
    margin: 0;
  }

  h2 {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    // margin-top: 10px;
  }

  img {
    width: 120px;
    margin: 20px 0;
    border: 4px solid $primary-color;
    // border-radius: 20px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
    padding-top: 10px;
  }
}

// @media screen and (max-width: 639px) {
//   .home-contents {
//     width: 480px;
//   }
// }
