@import './variables';

.home-contents {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    border-bottom: 1px solid $primary-color;
  }

  h1 {
    font-family: $header-font;
    font-size: 36px;
    margin: 0;
  }

  h2 {
    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
  }

  img {
    width: 120px;
    margin: 20px 0;
    border: 4px solid $primary-color;
  }
}
