@import './variables';

.recipeCard {
  display: flex;
  flex-direction: column;
  padding-top: 48px;

  .recipeTitle {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    font-family: $header-font;
  }

  .recipeDescription {
    font-weight: 300;
    font-size: 12px;
  }

  .read-more-link {
    color: $primary-color;
    font-size: 12px;
    font-weight: 600;
  }
}
