@import './variables';

.recipe-page-contents {
  display: flex;
  flex-direction: column;

  .home-link {
    color: $primary-color;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $primary-color;

    h1 {
      text-align: center;
      font-family: $header-font;
      font-size: 28px;
      margin: 0;
    }

    p {
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
    }

    img {
      width: 30%;
      margin: 20px 0px 20px 0px;
    }
  }

  .recipe-details {
    h2 {
      font-size: 16px;
      font-weight: 600;
      padding-top: 10px;
      padding-bottom: 0;
      margin-top: none;
    }

    li {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      padding-bottom: 10px;
    }
  }
}
