// @import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@300;400;600&display=swap');
@import './variables';

#app {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #main-content {
    padding-bottom: 200px;
    width: 640px;
  }
}

@media screen and (max-width: 639px) {
  #main-content {
    width: 480px;
  }
}
