// @import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@300;400;600&display=swap');
@import './variables';

#app{
 width: 428px;
//  height: 926px;
 background-color: $background-color;
 margin: 0 auto;
 font-family: $main-font;
}
